
img {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  color: #fafffa;
}

h2 {
  text-align: center;
  color: #fafffa;
}

h3 {
  text-align: center;
  color: #fafffa;
}

p {
  text-align: center;
  color: #fafffa;
}

.stats-grid1 {
    max-width: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.stats-grid2 {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.stat-card {
    background: rgba(222, 222, 225, 0.08);
    border-radius: 8px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(99, 102, 241, 0.2);
}

.stat-content {
    text-align: left;
}


.stat-label {
    font-size: 2em;
    color: #d0d0d0;
}

.stat-icon {
    font-size: 3.5em;
    opacity: 0.8;
}

.leaders-row {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.leader-section {
    text-align: center;
    width: 600px;
}